<% if signed_in? %>

<div id="Welcome" class="row" style="display:none;">
	<div id="QuestionBox" class="span10 offset1 center">
		<h2>Select number of Questions:</h2>
		<p>
		<input type="text" id="amount" disabled style="text-align:center; border:0; color:#f6931f; font-weight:bold;">
		</p>
		<div id="slider-range-max"></div>
		<hr>
		<button id="StartExam" class="btn btn-large btn-success" type="button">Start!</button>

	</div>
</div>

<div id="Exam" class="row" style="display:none;">
	<div id="QuestionBox" class="span10 offset1">
		<div class="row"><div class="span9"><p class="lead"><span id="Question"></span></p></div></div>
		<div class="row"><div class="span9">
			<div id="QuestionGroup" class="span9 btn-group btn-group-vertical" data-toggle="buttons-radio">
			  <button id="R1" type="button" class="btn btn-block"><p class="text-left"><span id="bR1"></span></p></button>
			  <button id="R2" type="button" class="btn btn-block"><p class="text-left"><span id="bR2"></span></p></button>
			  <button id="R3" type="button" class="btn btn-block"><p class="text-left"><span id="bR3"></span></p></button>
			  <button id="R4" type="button" class="btn btn-block"><p class="text-left"><span id="bR4"></span></p></button>
			</div>
		</div></div>
		<div class="row"><div class="span9"><p class="lead"><hr></p></div></div>
		<div class="row"><div class="span9">
			<button id="end" type="button" class="btn btn-danger"><i class="icon-ok icon-white"></i> End Exam!</button>
			<button id="grid" type="button" class="btn"><i class="icon-search"></i> See Grid</button>
			<div class="btn-group pull-right">
				<button id="mark" type="button" class="btn"><i class="icon-pencil"></i> Mark for review</button>
				<button id="prev" type="button" class="btn btn-primary"><i class="icon-chevron-left"></i> Prev</button>
				<button id="next" type="button" class="btn btn-primary">Next <i class="icon-chevron-right"></i></button>
			</div>
		</div></div>		
	</div>
</div>


<div id="Results" class="row" style="display:none;">
	<div id="QuestionBox" class="span10 offset1">
		<div id="Score"></div>
		<div id="Correct"></div>
		<div id="Incorrect"></div>
		<div id="NoResponse"></div>
	</div>
	<div id="QuestionBox" class="span10 offset1">
		<div id="AllQuestions"></div>
	</div>
</div>



<div id="Answers"></div>
<div id="Marked"></div>
<% else %>
	<div class="center hero-unit">
	  <h1>Welcome PMP Exam!</h1>

	  <h2>
	    Try a certification test
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("PMI_Logo.jpg", alt: "PMI", id: "PMI_logo"), 'http://pmi.org/' %>
<% end %>

