<% if signed_in? %>

<div id="Welcome" class="row" style="display:none;">
	<div class="span10 offset1 center GreyBox">
		<h3>PMP Test Exam</h3>
		<hr>
		<h2>Select question banks:</h2>
		<div class="row"><div class="span6 offset2">
			<button id="PMPExam" class="btn btn-warning btn-block active" type="button">PMPexamPT&SG - Exam [<span></span>]</button>
			<button id="QuestionPool" class="btn btn-primary btn-block" type="button">Question Pool (PMBOK 4th) [<span></span>]</button>
			<button id="RitaPool" class="btn btn-primary btn-block" type="button">Rita's Practice Exams [<span></span>]</button>
			<button id="ATTPool" class="btn btn-primary btn-block" type="button">ATT PMN Exam [<span></span>]</button>
			<button id="PMPpractice" class="btn  btn-primary btn-block" type="button">PMPexamPT&SG - Practice Questions [<span></span>]</button>
		</div></div>
		<hr>
		<h2>Select number of Questions (<span id="PwrPMP" class="text-error" style="display:none;"> Power PMP </span>Bank total = <span id="totalbank"></span>):</h2>
		<p><input type="text" id="QuestionsBank" style="text-align:center; border:0; color:#f6931f; font-weight:bold;"></p>
		<div id="slider-range-max"></div>
		<hr>
		<button id="StartExam" class="btn btn-large btn-success" type="button">Start!</button>
	</div>
</div>

<div id="Exam" class="row" style="display:none;">
	<div class="row">
		<div class="span3 offset3"><button id="grid" type="button" class="btn"><i class="icon-search"></i> See Grid</button></div>
		<div class="span3"><div class="timer"><span class="hour">00</span>:<span class="minute">00</span>:<span class="second">00</span></div></div>
	</div>
	<hr>
	<div id="gridBox" class="span10 offset1 GreyBox" style="display:none;">
		<div class="row">
			<div id="gridCol1" class="span3"></div>
			<div id="gridCol2" class="span3"></div>
			<div id="gridCol3" class="span3"></div>
		</div>
    </div>

	<div id="actualQuestion" class="span10 offset1 GreyBox">
		<div class="row"><div class="span9"><p class="lead"><span id="Question"></span></p></div></div>
		<div class="row"><div class="span9">
			<div id="QuestionGroup" class="span9 btn-group btn-group-vertical" data-toggle="buttons-radio">
				<label class="radio" id="bR1"></label>
				<label class="radio" id="bR2"></label>
				<label class="radio" id="bR3"></label>
				<label class="radio" id="bR4"></label>
			</div>
		</div></div>
		<div class="row"><div class="span9"><p class="lead"><hr></p></div></div>
		<div class="row"><div class="span9">
			<button id="end" type="button" class="btn btn-danger"><i class="icon-ok icon-white"></i> End Exam!</button>
			<div class="btn-group pull-right">
				<button id="mark" type="button" class="btn"><i class="icon-pencil"></i> Mark for review</button>
				<button id="prev" type="button" class="btn btn-primary"><i class="icon-chevron-left"></i> Prev</button>
				<button id="next" type="button" class="btn btn-primary">Next <i class="icon-chevron-right"></i></button>
			</div>
		</div></div>		
	</div>
</div>


<div id="Results" class="row" style="display:none;">
	<div class="span10 offset1 GreyBox">
		<div id="Score"></div>
		<div id="Time"></div>
		<div id="Correct"></div>
		<div id="Incorrect"></div>
		<div id="NoResponse"></div>
	</div>
	<div class="span10 offset1 GreyBox">
		<div id="AllQuestions"></div>
	</div>
</div>



<div id="Answers"></div>
<div id="Marked"></div>
<% else %>
	<div class="center hero-unit">
	  <h1>Welcome PMP Exam!</h1>

	  <h2>
	    Try a certification test
	  </h2>

	  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	</div>

	<%= link_to image_tag("PMI_Logo.jpg", alt: "PMI", id: "PMI_logo"), 'http://pmi.org/' %>
<% end %>

