<footer class="footer">
  <small>
    <a href="http://pmi.org/">PMP Exam</a>
    by PMPexam
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",    root_path %></li>
    </ul>
  </nav>
</footer>

